<div class="main">
<section>
  
  <molla-page-header title="pageTitle" subtitle="Shop" ></molla-page-header>
  <div class="own_container">
      <div class="row">
          <div class="col-md-4  d-none d-md-block">
              <div class="page_title">
                  <h3>My Orders</h3>
              </div>
          </div>
          <div class="col-md-8">
              <nav class="d-flex flex-row-reverse align-items-center h-100" aria-label="breadcrumb">
                  <ol class="breadcrumb kd_breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Orders</li>
                  </ol>
                </nav>
          </div>
      </div>
  </div>
</section>
<section class="bkg_img kd_section">
  <div class="own_container">
     <div style="background-color: #fff; padding: 20px;">

       <div class="row">
         <div class="col-md-3">
           <molla-user-sidebar></molla-user-sidebar>
         </div>
         <div class="col-md-9 pl50">
           <div class="row">
             <div class="col-md-12">
              <div class="account_detail_form">
                <div class="form">
                  <form>
                    <div class="heading">
                      <h2>My Orders</h2>
                    </div>
                  </form>
                </div>
              </div>
              <table class="table orders-table" *ngIf="orders">
                <thead style="background-color: #efefef; padding: 0 10px;">
                  <tr>
                    <th scope="col">Order</th>
                    <th scope="col">Date</th>
                    <!-- <th scope="col">Status</th> -->
                    <th scope="col">Total</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody style="padding: 0 10px;">
                  <tr *ngFor="let order of orders">
                    <td><div class="mobile-row-header">Order</div><a class="v-list-item__content justify-end" routerLink="/order/{{order.code}}">{{order.code}}</a></td>
                    <td><div class="mobile-row-header">Date</div> <span class="v-list-item__content justify-end">{{order.date}}</span></td>
                    <!-- <td>{{order.orders.delivery_status}}</td> -->
                    <td><div class="mobile-row-header">Total</div><span class="v-list-item__content justify-end">${{order.grand_total}} for {{totalItems(order)}} items</span></td>
                    <td>
                      <div class="mobile-row-header">Action</div>
                      <div class="outer v-list-item__content justify-end">
                        <a routerLink="/order/{{order.code}}" class="btn button">
                            <div class="text font2">View All</div>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="loadmore-btn text-center mt-3" *ngIf="totalOrders > orders.length">
                <div class="btn button" (click)="loadmore()">
                    <div class="text font1">Load more <i *ngIf="loadingOrders" class="fa fa-spinner fa-spin" style="font-size:20px"></i></div>
                </div>
              </div>
             </div>
           </div>
         </div>
       </div>
     </div>
  </div>
</section>
</div>