.cart-icon-wrap {
  position: relative;
}
.cart-counter {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ff3c3c;
  top: 0;
  right: 11px;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.top-header {
  background-color: #8e795e;
  text-align: center;
  color: #fff;
  z-index: 10000;
  height: 25px;
}

